<main class="main">
    <h1>
        Buscador de cócteles
    </h1>
    <form action="">
        <input type="text" class="js-input-search">
        <input type="button" value="Buscar" class="js-btn-search">
        <input type="button" value="Reset" class="js-btn-reset">
    </form>
    <section class="container">
        <section class="section_favorites js-favorites">
            <h2>
                Cócteles favoritos
            </h2>
            <ul class="js-ul-favorite">
            </ul>
        </section>
        <section class="section_search_list">
            <h2>
                Lista de cócteles
            </h2>
            <ul class="js-ul-search-list">
            </ul>
        </section>
    </section>
</main>