<main class="main">
    <h1>
        Buscador de cócteles
    </h1>
    <form action="">
        <input type="text" class="js-input-search">
        <input type="button" value="Buscar" class="js-btn-search">
        <input type="button" value="Reset" class="js-btn-reset">
    </form>
    <section class="section_favorites">
        <h2>
            Cócteles favoritos
        </h2>
        <article>
            <h3></h3>
            <img src="" alt="">
            <div>X</div>
        </article>
    </section>
    <section class="section_search_list">
        <h2>
            Lista de cócteles
        </h2>
        <article class="js-article-search-list">
        </article>
    </section>
</main>