// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

// colors
$eggplant: #520720;
$rose-pale: #a56376;
$nude: #e4c5c3;
$yellow-pastel: #fcead7;
$blue-pastel: #c4dbe2;

