// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// colors
$green-back: #455743;
$blue-pastel: #b3dae6;
$orange-pastel: #ecd3b1;
$blue-light-pastel: #c3dee7;

