.header {
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 3px $green-back;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 60px;
    color: white;
    padding: 20px;
    background-image: url("../../assets/images/leaves.jpg");
    background-size: cover;
}
