.header {
    background-color: $rose-pale;
    border-bottom: solid 3px $eggplant;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 60px;
    color: white;
    padding: 20px;
}
