.main{
    width: 100%;
}

.form{
    padding: 20px 0 0 50px;
}
    
.label{
    display: block;
    margin-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 40px;
    color: $green-back;
}

.input-text{
    width: 350px;
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: 2px solid $green-back;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.638);
}

.btn{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.638);

    &-search{
        margin: 0 10px;
        background-color: $green-back;
    }

    &-reset{
        background-color: rgb(146, 146, 146);
    }
}


.container-lists{
    display: flex;
    justify-content: space-between;
    padding: 20px
}

.selected{
    background-color: $orange-pastel;
    border: 2px solid $green-back;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.section{
    &-title{
        font-family: 'Indie Flower', cursive;
        font-weight: 700;
        font-size: 40px;
        margin: 20px 0;
        color: $green-back;
        text-decoration: underline;
    }

    &-search-list{
        flex-grow: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-favorites{
        width: 40%;
        text-align: center;
        background-color: $orange-pastel;
        border-radius: 10px;
        border: 3px solid $green-back;
        position: relative;
    }
}

.ul-search{
    display: flex;
    flex-direction: column;
    align-items: center;

    .drink-article {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor:pointer;

        .drink-name {
            padding-right: 10px;
            font-family: 'Indie Flower', cursive;
            font-weight: 550;
            font-size: 25px;
            width: 10ch;
        }

        .drink-img {
            width: 150px;
            height: 150px;
            border-radius: 5px;
            margin-left: 10px;
            border: 2px solid $green-back;
        }
    }
}

.ul-favorites{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: end;
    margin: 0 30px;

    .drink-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .drink-name {
            padding-bottom: 10px;
            font-family: 'Indie Flower', cursive;
            font-size: 25px;
            width: 10ch;
        }

        .container-img:hover {
            .container-icon {
                display: flex;
            }
        }

        .container-img{
            position: relative;

            .drink-img {
                width: 150px;
                height: 150px;
                border-radius: 5px;
                border: 2px solid $green-back;
            }

            .container-icon {
                display: none;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                background-color: rgba(231, 231, 231, 0.5);
                border-radius: 5px;
                width: 100%;
                height: 98%;
                align-items: center;
                justify-content: center;
        
                .fa-solid {
                    position: absolute;
                    z-index: 2;
                    cursor:pointer;
                    font-weight: 900;
                    font-size: 55px;
                    color: $green-back;
                }
            }
        }        
    }
}

.btn-reset-fav {
    background-color: rgb(146, 146, 146);
    margin-bottom: 20px;
}

.hidden{
    display: none;
}